.searchHowTo {
    display:inline-block;
    margin: 10px;
    /* font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff; */
}

/* Form label styling */

#dropdowns {
    display: block;
    text-align: right;
}

#text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(37,57,79);
}

/* Learn Page/FAQ styling */
#learn {
    background-image: url('https://www.nasa.gov/sites/default/files/thumbnails/image/hubble_friday_05292015.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}


div.faq p#question {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #35aa06;
    }

            /* Learn page styling */
div.faq p#answer {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(37,57,79);
    }